<div id="<%= dom_id post %>" class="card mb-4">
  <div class="card-body">

    <div>
      <h2>Images</h2>
      <% if post.images.attached? %>
        <ul>
          <% post.images.each do |image| %>
            <li>
              <%= image_tag(image, height: 100) %>
              <%= link_to "Remove Image", remove_image_post_path(image), data: {confirm: "Are you sure", turbo_method: :delete} %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No images available for this post.</p>
      <% end %>
    </div>
    
    <h2 class="card-title"><%= post.title %></h2>
    <h4 class="card-subtitle mb-2 text-muted">Posted By <%= post.user.email %></h4>
    <h6 class="card-text"><%= pluralize(post.views, "View") %></h6>

    <div class="card-text">
      <%= post.body %>
    </div>

    <div class="card-text">
      <%= post.public %>
    </div>

  </div>
</div>

